<div class='col s12 m4'>
    <div class='card z-depth-1'>

        <div class='card-content'>

            <h2 class='title-section'>La vidéo du mois<small>Découvrez le dernier contenu vidéo de l'asso !</small></h2>

            <!-- Mettre la vidéo -->
            <div class="video-container">
                <iframe width="853" height="480" src="//www.youtube.com/embed/t1xn5t9kANY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    </div>

    {% if lastReview is not null %}
    {% for review in lastReview %}
    <div class='card z-depth-1'>

        <div class='card-content'>

            <h2 class='title-section'>La dernière critique<small>L'anime comme vous ne l'avez jamais vu !</small></h2>
            <div class="card-image">
                <a href='{{ path('shiawa_anime_review_view', {'slug': review.slug}) }}'> <img src="{{ review
                    .image }}">
                    <span class="card-title">{{ review.title }}</span></a>
            </div>
        </div>
        <div class='card-action center-align'>
            <a href='{{ path('shiawa_anime_review_list') }}'>Voir plus de critiques</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {% if nextEvent is not empty %}
        {% for event in nextEvent %}
    <div class='card z-depth-1'>

        <div class='card-content'>

            <h2 class='title-section'>
                Le prochain évènement
                <small>L'association bouge !
                    <span class='right badge pink lighten-2 white-text'>
                        {% set now = "now"|date('Ymd') %}

                        {% set diff = date(event.beginAt).diff(date("now")) %}
                        {% set diffDays = diff.days %}

                         {% if now  <= event.endAt|date('Ymd') and now >= event.beginAt|date('Ymd') %}
                             En cours
                         {% elseif  now > event.endAt|date('Ymd')  %}
                            Il y a {{ diffDays }} jours
                         {% else %}
                             Dans {{ diffDays }} jours
                         {% endif %}
                    </span>
                </small>
            </h2>
            <div class="card-image" style="max-height: 300px; overflow: hidden;">
                <a href='{{ path('shiawa_event_view', {'slug': event.slug}) }}'> <img src="{{ event.image }}">
                    <span class="card-title">{{ event.name|title }}</span></a>
            </div>
        </div>
        <div class='card-action center-align'>
            <a href='{{ path('shiawa_event_list') }}'>Voir nos évènements</a>
        </div>
    </div>
        {% endfor %}
    {% else %}
        <div class='card z-depth-1'>

            <div class='card-content'>

                <h2 class='title-section'>
                    Pas de prochain événement
                    <small>Proposer nous un événement proche de chez vous !
                    </small>
                </h2>
            </div>
            <div class='card-action center-align'>
                <a href='{{ path('shiawa_event_list') }}'>Voir nos évènements</a>
            </div>
        </div>
    {% endif %}
</div>