{% extends "AppBundle:Core:layout.html.twig" %}

{% block stylesheets %}
    <link href='https://fonts.googleapis.com/css?family=Raleway:900' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/style-anim.css') }}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('css/horizontal_sly.css') }}"  media="screen,projection"/>
{% endblock %}

{% block menu %}
{{ include("AppBundle:Anime:nav.html.twig") }}
{% endblock %}

{% block body %}
    {{ include("AppBundle:Anime:slider.html.twig") }}

    {% block  anime_news%}
    
    {% endblock %}

    <div class='container'>
        <div class='row'>
            {% block content %}{% endblock %}
            {{ render(controller("AppBundle:Core:aside")) }}
        </div>
    </div>
{% endblock %}