{% extends "AppBundle:Core:layout.html.twig" %}

{% block DC_description %}
    Shiawa.fr, site d'actualité sur les Anime et les Manga. Retrouvez toute la Japanimation que
nous offre nos partenaires AnimeDigitalNetwork et Crunchyroll
{% endblock %}

{% block DC_title %}Anime - Shiawa.fr - Site d'actualité Japanimation{% endblock %}

{% block desc %}
    Shiawa.fr, site d'actualité sur les Anime et les Manga. Retrouvez toute la Japanimation que
    nous offre nos partenaires AnimeDigitalNetwork et Crunchyroll
{% endblock %}

{%  block OG_image %}{{ parent() }}{% endblock %}

{%  block OG_title %}Anime - Shiawa.fr - Site d'actualité Japanimation{% endblock %}

{%  block OG_desc %}
    Shiawa.fr, site d'actualité sur les Anime et les Manga. Retrouvez toute la Japanimation que
    nous offre nos partenaires AnimeDigitalNetwork et Crunchyroll
{% endblock %}

{% block title %} Anime - {{ parent() }} {% endblock %}

{% block menu %}
{{ include("AppBundle:Anime:nav.html.twig") }}
{% endblock %}

{% block body %}
    {{ include("AppBundle:Anime:slider.html.twig") }}

    {% block  anime_news%}
    
    {% endblock %}

    <div class='container'>
        <div class='row'>
            {% block content %}{% endblock %}
            {{ render(controller("AppBundle:Core:aside")) }}
        </div>
    </div>
{% endblock %}