{% extends "AppBundle:Core:nav.html.twig" %}

{% block navbar_title %}
<a href="{{ path('shiawa_anime_homepage') }}" class="brand-logo">Anime &amp; Manga</a>
{% endblock %}

{% block nav_content%}
    <li>
        <a href="{{ path('shiawa_anime_homepage') }}">Accueil</a>
    </li>
    <li>
        <a href="{{ path('shiawa_anime_news') }}">Nouveautés</a>
    </li>
    <li class=''>
        <a  href="{{ path('shiawa_article_list', {'category': 'anime'})
        }}">Articles</a>
    </li>
    <li>
        <a href="{{ path('shiawa_anime_review_list') }}">Critiques</a>
    </li>
    <li>
        <a href="{{ path('shiawa_anime_list') }}">Les séries</a>
    </li>
{% endblock %}

{% block dropdown_title %}
    Anime & Manga
{% endblock %}

{% block nav_mobile_content %}
    <li>
        <a href="{{ path('shiawa_anime_homepage') }}">Accueil</a>
    </li>
    <li>
        <a href="{{ path('shiawa_episode_list') }}">Nouveautés</a>
    </li>
    <li class=''>
        <a  href="{{ path('shiawa_article_list', {'category': 'anime'})
        }}">Articles</a>
    </li>
    <li>
        <a href="{{ path('shiawa_anime_review_list') }}">Critiques</a>
    </li>
    <li>
        <a href="{{ path('shiawa_anime_list') }}">Les séries</a>
    </li>
{% endblock %}

{% block mobile_dropdown_title %}
    Anime & Manga
{% endblock %}
