{% extends "AppBundle:Core:layout.html.twig" %}

{% block title %}Contact - {{ parent() }}{% endblock %}


{% block  menu %}
    {{ include("AppBundle:Core:nav.html.twig") }}
{% endblock %}

{% block body %}

    <div class="container">

        <div class="row card-panel">
            <h1>Contactez Shiawa</h1>
            <h2><small>L'association Shiawa est ravie que vous souhaitez la contacter</small></h2>
        </div>

        <div class="row card-panel">

            {{ form_start(form, {'attr': {'class': ''}}) }}

            {{ form_errors(form) }}

                <div class="col m8 s12">
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">account_circle</i>
                            {{ form_widget(form.username) }}
                            <label for="first_name">Qui êtes vous ?</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">mail</i>
                            {{ form_widget(form.email) }}
                        </div>
                        <div class="input-field col s12 m12">
                            {{ form_row(form.subject) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mode_edit</i>
                            {{ form_widget(form.message, {'attr' : { 'class' : 'materialize-textarea' }}) }}
                        </div>
                    </div>

                    <div>
                        {{ form_widget(form.submit, {'icon': 'email', 'left': true, 'attr': {'class': 'btn waves-effect waves-light pink lighten-2'}}) }}
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="carousel carousel-slider center" data-indicators="true">
                        <div class="carousel-fixed-item center white-text">
                            Faites glisser pour plus d'informations
                        </div>
                        <div class="carousel-item red white-text" href="#one!">
                            <h2>Un problème, un bug, une erreur sur le site ?</h2>
                            <p class="white-text center-align">Nous réglerons le problème sous 24H</p>
                        </div>
                        <div class="carousel-item amber white-text" href="#two!">
                            <h2>Pour tout contact professionnel</h2>
                            <p class="white-text center-align">Collaboration, partenariat, communication. Nous
                                sommes ouvert à toute proposition</p>
                        </div>
                        <div class="carousel-item green white-text" href="#three!">
                            <h2>Rejoignez l'association</h2>
                            <p class="white-text center-align">Vous souhaitez faire parti de Shiawa ?</p>
                        </div>
                        <div class="carousel-item blue white-text" href="#four!">
                            <h2>Autre chose ?</h2>
                            <p class="white-text center-align">Profitez de votre passage sur Shiawa pour nous contacter. Nous
                                sommes des pandas pacifistes ! </p>
                        </div>
                    </div>
                </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
