<!DOCTYPE html>
<!--
SHIAWA
-->
<html>
<head>
    <title>{% block title %}Shiawa.fr{% endblock %} - Site actualité otaku</title>
    <meta charset="UTF-8">

    <meta name="theme-color" content="#ec407a">
    <meta name="msapplication-TileColor" content="#ec407a"/>
    <meta name="application-name" content="Shiawa"/>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-language" content="fr-FR" />
    <meta name="Language" content="fr">
    <!-- Schema.dc -->
    <link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
    <meta name="DC.coverage" content="France" />
    <meta name="DC.description" content="{% block DC_description %}Shiawa.fr, le site d'actualité sur la
    Japanimation, le Cosplay et l'actualité japonaise ! Rejoignez la communauté des pandas.{% endblock
    %}" />
    <!-- A
    MODIFIER -->
    <meta name="DC.format" content="text/html" />
    <meta name="DC.identifier" content="http://shiawa.fr" />
    <meta name="DC.publisher" content="Association Shiawa - Shiawa.fr" />
    <meta name="DC.title" content="{% block DC_title %}Shiawa.fr - Site d'actualité Anime, Cosplay, Culture Pop.
    Japonaise{% endblock %}" />
    <!-- A MODIFIER
     -->
    <meta name="DC.type" content="Text" />
    <meta name="description" content="{% block desc %}Shiawa.fr, le site d'actualité sur la
    Japanimation, le Cosplay et l'actualité japonaise ! Rejoignez la communauté des pandas.{% endblock %}"> <!-- A MODIFIER -->
    <meta name="keywords" content="Shiawa , Shiawa.fr, anime, animes, fansub, japanimation, japan, mangas, manga, streaming, scantrads, scan, stream, drama, OST, AMV, Association, Japon, Cosplay">
    <!-- RSN : FB -->
    <meta property="og:url" content="{{ app.request.uri|url_encode }}" /> <!-- A MODIFIER -->
    <meta property="og:image" content="{%  block OG_image %}http://puu.sh/o7wOs/14be55f37a.png{% endblock %}" /> <!-- A MODIFIER -->
    <meta property="og:title" content="{%  block OG_title %}Shiawa.fr - Site d'actualité Anime, Cosplay, Culture Pop.
    Japonaise{% endblock %}" /> <!-- A MODIFIER -->
    <meta property="og:description" content="{%  block OG_desc %}Shiawa.fr, le site d'actualité sur la
    Japanimation, le Cosplay et l'actualité japonaise ! Rejoignez la communauté des pandas.{% endblock %}" /> <!-- A MODIFIER -->
    <!-- Google Verification -->
    <meta name="google-site-verification" content="kEB2-IqD2qVsqdPFPrEd-yYeIc1epBeaDePVshpBmBg" />

    {% block stylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Raleway:900' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/style-accueil.css') }}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('css/horizontal_sly.css') }}"  media="screen,projection"/>
    {% endblock %}
        <script src='https://cdn.tinymce.com/4/tinymce.min.js'></script>
</head>
<body>

{% block menu %}
{% endblock %}


{% block body %}
{% endblock %}

{% block footer %}
    <!-- FOOTER -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Association SHIAWA</h5>
                    <p class="grey-text text-lighten-4">
                        L'association SHIAWA, propose du contenu de qualité en terme d'informations, issu de nos partenaires.
                    </p>
                    <p class="grey-text text-lighten-4">
                        Nous agissons aussi dans l'évenementiel, nous participons à la réussite des salons principalement dans le sud de la France. Vidéos, Interviews, Jeux, nos pandas s'occupent de tout !
                    </p>
                    <hr />
                    <div class='row'>
                        <!-- RSN -->
                        <div class='col s12'>
                            <a class="grey-text text-lighten-3" href="#!">Facebook</a>
                            <a class="grey-text text-lighten-3" href="#!">Youtube</a>
                            <a class="grey-text text-lighten-3" href="#!">Twitter</a>
                            <a class="grey-text text-lighten-3" href="#!">Instagram</a>
                        </div>
                    </div>

                </div>
                <div class="col l3 offset-l2 s12">
                    <h5 class="white-text">Ils nous font confiance</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3 btn waves-effect pink" href="http://www.crunchyroll.com/">Crunchyroll</a></li>
                        <li><a class="grey-text text-lighten-3 btn waves-effect pink" href="http://animedigitalnetwork.fr/">Anime Digital Network</a></li>
                        <li><a class="grey-text text-lighten-3 btn waves-effect pink" href="https://www.facebook.com/gaia.lib/">Gaïa Lib</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Tous droits réservés. Site soumis à la licence Creative Common V4.0.
                <div class='right'>
                    <a class="grey-text text-lighten-4" href="#!">Site développé par l'association</a>
                    &nbsp;&nbsp;&nbsp;<a class="grey-text text-lighten-4" href="#!">Contactez-nous</a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascript %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="{{ asset('js/bin/materialize.min.js') }}"></script>
    <script src="{{ asset('js/sly.min.js') }}"></script>
    <script src="{{ asset('js/shiawa_functions.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 5, // Creates a dropdown of 15 years to control year
                format: 'yyyy-mm-dd'
            });

            $('.birthdate').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 200, // Creates a dropdown of 15 years to control year
                format: 'yyyy-mm-dd'
            });

            $('.button-collapse2').sideNav({
                menuWidth: 300, // Default is 240
                edge: 'right', // Choose the horizontal origin
                closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
            });

            tinymce.init({
                selector: '.longContent',
                height: 300,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table contextmenu paste code'
                ],
                toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                content_css: [
                    '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
                    '//www.tinymce.com/css/codepen.min.css'
                ]
            });
        });
    </script>
{% endblock %}

</body>
</html>
