<!-- Navbar -->
<div class='navbar-fixed'>
    <nav>
        <div class="nav-wrapper grey darken-3">
            <!-- NAVBAR TITLE -->
            {% block navbar_title %}
                <a href="{{ path('shiawa_homepage') }}" class="brand-logo">Shiawa</a>
            {% endblock %}
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <!--NAVBAR MODULABLE -->
                {% block nav_content%}

                {% endblock %}
                <!-- END NAVBAR MODULABLE -->
                <li class='pink darken-1'>
                    <a class="dropdown-button" href="#" data-activates="dropdown1" data-hover="true">
                        <!--NAVBAR TITLE-->Shiawa
                        {% block dropdown_title %}
                         - Plateformes
                        {% endblock %}
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <a href="#" data-activates="slide-out" class="button-collapse2 right"><i
                            class="material-icons">arrow_left</i></a>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse2 right hide-on-large-only"><i
                        class="material-icons">arrow_left</i></a>

            <ul class="side-nav collapsible collapsible-accordion" id="mobile-demo">
                <!-- NAVBAR MOBILE -->
                {% block nav_mobile_content %}

                {% endblock %}
                <!-- END MOBILE NAVBAR MODULE -->
                <li>
                    <a class="dropdown-button pink darken- white-text" href="#" data-activates="dropdown2">
                        <!--NAVBAR TITLE-->
                        {% block mobile_dropdown_title %}
                            Plateformes Shiawa
                        {% endblock %}
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
            </ul>

            <!-- DROPDOWN CATEGORIES' HOMEPAGES -->
            <ul id="dropdown1" class="dropdown-content">
                {% block desktop_dropdown_content %}
                    <li><a href="{{ path('shiawa_anime_homepage') }}">Shiawa Anime</a></li>
                    <li><a href="{{ path('shiawa_cosplay_homepage') }}">Shiawa Cosplay</a></li>
                    <li><a href="{{ path('shiawa_japan_homepage') }}">Shiawa Japon</a></li>
                {% endblock %}
                <li class="divider"></li>
                <li><a href="{{ path('shiawa_homepage') }}">Accueil Shiawa</a></li>
            </ul>
            <ul id="dropdown2" class="dropdown-content">
                {% block mobile_dropdown_content %}
                    <li><a href="{{ path('shiawa_anime_homepage') }}">Shiawa Anime</a></li>
                    <li><a href="{{ path('shiawa_cosplay_homepage') }}">Shiawa Cosplay</a></li>
                    <li><a href="{{ path('shiawa_japan_homepage') }}">Shiawa Japon</a></li>
                {% endblock %}
                <li class="divider"></li>
                <li><a href="{{ path('shiawa_homepage') }}">Accueil Shiawa</a></li>
            </ul>

            <!-- USER SIDE NAV -->
            <div id="slide-out" class="side-nav">
                <li style="list-style: none;">
                    <div class="userView">
                        <img class="background" src="{{ asset('imgs/poster.jpg') }}">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <a href="{{ path('fos_user_profile_show') }}">
                                <img class="circle" src="
                                {% if app.user.avatar is null %}
                                https://www.mautic.org/media/images/default_avatar.png
                                {% else %}
                                    {{ app.user.avatar }}
                                {% endif %}
                                ">
                            </a>
                            <a href="{{ path('fos_user_profile_show') }}">
                                <span class="white-text name">{{ app.user.username|title }}</span>
                            </a>
                            <a href="{{ path('fos_user_profile_show') }}">
                                <span class="white-text email">{{ app.user.email }}</span>
                            </a>
                        {% endif %}
                    </div>
                </li>
                <ul>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
                        {% if is_granted('ROLE_AUTHOR') %}
                            <li><div class="divider"></div></li>
                            <li><a href="{{ path('shiawa_admin_homepage') }}">Dashboard Admin</a></li>

                            <li class="no-padding blue-grey">
                                <ul class="collapsible collapsible-accordion">
                                    <li>
                                        <a class="collapsible-header">Gestion Articles<i class="material-icons right
                                    ">arrow_drop_down</i></a>
                                        <div class="collapsible-body">
                                            <ul>
                                                <li><a href='{{ path('shiawa_article_create') }}'>Ajouter un Article</a></li>
                                                <li><a href='{{ path('shiawa_category_create') }}'>Ajouter une
                                                        catégorie</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <li class="no-padding blue-grey">
                                <ul class="collapsible collapsible-accordion">
                                    <li>
                                        <a class="collapsible-header">Gestion Japanimation<i class="material-icons right
                                    ">arrow_drop_down</i></a>
                                        <div class="collapsible-body">
                                            <ul>
                                                <li><a href='{{ path('shiawa_anime_create') }}'>Ajouter un Anime</a></li>
                                                <li><a href='{{ path('shiawa_episode_create') }}'>Ajouter un Episode</a></li>
                                                <li><a href='{{ path('shiawa_character_create') }}'>Ajouter un
                                                        Personnage</a></li>
                                                <li><a href='{{ path('shiawa_studio_create') }}'>Ajouter un Studio</a></li>
                                                <li><a href='{{ path('shiawa_editor_create') }}'>Ajouter un Editeur</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li><a href='{{ path('shiawa_anime_review_create') }}'>Ajouter une Critique</a></li>
                            <li><a href='{{ path('shiawa_event_create') }}'>Ajouter un Evenement</a></li>
                            <li><a href='{{ path('shiawa_user_admin_create') }}'>Ajouter un Utilisateur</a></li>
                            <li><a href='{{ path('shiawa_cache_clear') }}'>Nettoyer le cache</a></li>
                        {% endif %}
                        <li class='red'><a href='{{ path('fos_user_security_logout') }}'>Deconnexion</a></li>
                    {% else %}
                        <li class='green'><a href='{{ path('fos_user_security_login') }}'>Connexion</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>