<!-- Navbar -->
<div class='navbar-fixed'>
    <nav class="transparent">
        <div class="nav-wrapper grey darken-3">
            <!-- NAVBAR TITLE -->
            {% block navbar_title %}
                <a href="{{ path('shiawa_blog_homepage') }}" class="brand-logo">Shiawa</a>
            {% endblock %}
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons left">menu</i>Shiawa</a>
            <ul class="right hide-on-med-and-down">
                <!--NAVBAR MODULABLE -->
                {% block nav_content%}
                    <li class=''>
                        <a  href="{{ path('shiawa_article_list') }}">Articles</a>
                    </li>
                    <li>
                        <a class="dropdown-button" href="#" data-beloworigin="true" data-activates="animeDropdown" data-constrainwidth="false" data-hover="true">
                            Anime
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-button" href="#" data-beloworigin="true" data-activates="cosplayDropdown" data-constrainwidth="false" data-hover="true">
                            Cosplay
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-button" href="{{ path('shiawa_event_list') }}" data-beloworigin="true" data-activates="eventDropdown" data-constrainwidth="false" data-hover="true">
                            Evénements
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('shiawa_formation_list') }}">Tutoriels</a>
                    </li>
                    <li>
                        <a class="dropdown-button" href="#" data-activates="entertainmentDropdown" data-beloworigin="true" data-activates="eventDropdown" data-constrainwidth="false" data-hover="true">
                            Divertissement
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                {% endblock %}
                <!-- END NAVBAR MODULABLE -->
                <li>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a href="#" data-activates="slide-out" class="button-collapse2 right pink">
                            {{ app.user.username|title }}
                            <i class="material-icons right">person</i>
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}" class="pink">
                            Se connecter
                            <i class="material-icons right">person</i>
                        </a>
                    {% endif %}
                </li>
            </ul>
            <ul class="right hide-on-large-only">
                <li>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a href="#" data-activates="slide-out" class="button-collapse2 right pink">
                            {{ app.user.username|title }}
                            <i class="material-icons right">person</i>
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}" class="pink">
                            Se connecter
                            <i class="material-icons right">person</i>
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</div>

<ul id="cosplayDropdown" class="dropdown-content">
    <li><a href="https://www.youtube.com/playlist?list=PLITDrG6K2FHdyPJYL9K97090uP5TX7ObI" target="_blank">Shiawa CMVs</a></li>
</ul>

<ul id="animeDropdown" class="dropdown-content">
    <li><a href="{{ path('shiawa_anime_review_list') }}">Critiques</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLITDrG6K2FHf8HoECBnJmOyrlPSnMA_FN" target="_blank">Shiawa AMVs</a></li>
</ul>

<ul id="eventDropdown" class="dropdown-content">
    <li><a href="">Le prochain</a></li>
    <li><a href="{{ path('shiawa_contact') }}">Proposer un événement</a></li>
</ul>

<ul id="entertainmentDropdown" class="dropdown-content">
    <li><a href="https://www.youtube.com/channel/UCgPqRGhrra-liY7N7OQSD0A/videos" target="_blank">Toutes nos Videos</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLITDrG6K2FHeI4hT8FKEcJWcs2ezaA001" target="_blank">Interviews Shiawa</a></li>
</ul>

<!-- NAVBAR MOBILE -->
<ul class="side-nav collapsible collapsible-accordion" id="mobile-demo">
    {% block nav_mobile_content %}
        <li class="logo">
            <a href="{{ path('shiawa_homepage') }}">
                <img src="{{ asset('resources/dist/imgs/logo_shiwa__white_text.svg') }}" alt="" class="responsive-img left">
            </a>
        </li>
        <li>
            <a href="{{ path('shiawa_blog_homepage') }}">Accueil</a>
        </li>
        <li class=''>
            <a  href="{{ path('shiawa_article_list') }}">Articles</a>
        </li>
        <li>
            <a href="{{ path('shiawa_formation_list') }}">Tutoriels</a>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header active waves-effect waves-pink">Anime</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{{ path('shiawa_anime_review_list') }}">Critiques</a></li>
                            <li><a href="https://www.youtube.com/playlist?list=PLITDrG6K2FHf8HoECBnJmOyrlPSnMA_FN" target="_blank">Shiawa AMVs</a></li>
                        </ul>
                    </div>
                </li>
                <li class="bold"><a class="collapsible-header active waves-effect waves-pink">Cosplay</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="https://www.youtube.com/playlist?list=PLITDrG6K2FHdyPJYL9K97090uP5TX7ObI" target="_blank">Shiawa CMVs</a></li>
                        </ul>
                    </div>
                </li>
                <li class="bold"><a class="collapsible-header active waves-effect waves-pink">Evénements</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{{ path('shiawa_event_list') }}">Les prochains</a></li>
                            <li><a href="{{ path('shiawa_contact') }}">Proposer un événement</a></li>
                        </ul>
                    </div>
                </li>
                <li class="bold"><a class="collapsible-header active waves-effect waves-pink">Divertissements</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="https://www.youtube.com/channel/UCgPqRGhrra-liY7N7OQSD0A/videos" target="_blank">Toutes nos Videos</a></li>
                            <li><a href="https://www.youtube.com/playlist?list=PLITDrG6K2FHeI4hT8FKEcJWcs2ezaA001" target="_blank">Interviews Shiawa</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    {% endblock %}
    <!-- END MOBILE NAVBAR MODULE -->
</ul>

<!-- USER SIDE NAV -->
<ul id="slide-out" class="side-nav">
    <li style="list-style: none;">
        <div class="userView">
            <div class="background">
                <img class="background" src="{{ asset('resources/dist/imgs/poster.jpg') | imagine_filter('middle_thumb') }}">
            </div>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a href="{{ path('fos_user_profile_show') }}">
                    <img class="circle avatar" src="
                                {% if app.user.avatar is null %}
                                https://www.mautic.org/media/images/default_avatar.png
                                {% else %}
                                    {{ vich_uploader_asset(app.user.avatar, 'file') }}
                                {% endif %}
                                ">
                </a>
                <a href="{{ path('fos_user_profile_show') }}">
                    <span class="white-text name">{{ app.user.username|title }}</span>
                </a>
                <a href="{{ path('fos_user_profile_show') }}">
                    <span class="white-text email">{{ app.user.email }}</span>
                </a>
            {% endif %}
        </div>
    </li>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
        <li><a href="{{ path('fos_user_profile_edit') }}">Modifier mes informations</a></li>
        <li><a href="{{ path('fos_user_change_password') }}">Modifier mon mot de passe</a></li>
        {% if is_granted('ROLE_AUTHOR') %}
            <li><div class="divider"></div></li>
            <li><a href="{{ path('easyadmin') }}">Administration</a></li>
            <li><a href='{{ path('shiawa_cache_clear') }}'>Nettoyer le cache</a></li>
        {% endif %}
        <li class='red'><a href='{{ path('fos_user_security_logout') }}' class="white-text">Deconnexion</a></li>
    {% else %}
        <li class='green'><a href='{{ path('fos_user_security_login') }}'>Connexion</a></li>
    {% endif %}
</ul>