{% extends "AppBundle:Core:nav.html.twig" %}

{% block navbar_title %}
    <a href="{{ path('shiawa_japan_homepage') }}" class="brand-logo">Japon</a>
{% endblock %}

{% block nav_content%}
    <li>
        <a href="{{ path('shiawa_japan_homepage') }}">Accueil</a>
    </li>
    <li class=''>
        <a  href="{{ path('shiawa_article_list', {'category': 'japon'})
        }}">Articles</a>
    </li>
{% endblock %}

{% block dropdown_title %}
    Japon
{% endblock %}

{% block nav_mobile_content %}
    <li>
        <a href="{{ path('shiawa_japan_homepage') }}">Accueil</a>
    </li>
    <li class=''>
        <a  href="{{ path('shiawa_article_list', {'category': 'japon'})
        }}">Articles</a>
    </li>
{% endblock %}

{% block mobile_dropdown_title %}
    Japon
{% endblock %}
