{% trans_default_domain 'FOSUserBundle' %}

<div class="container">

    <div id="profile-page-header" class="card">
        <div class="card-image waves-effect waves-block waves-light" style="max-height: 200px;">
            <img src="{{ asset('resources/dist/imgs/poster.jpg') }}" alt="user background">
        </div>
        <figure class="card-profile-image circle z-depth-2 " style="position: absolute; top: 150px; left: 40px; z-index: 1;
        overflow: hidden; width: 100px; height: 100px;">
            <img
            {% if user.avatar is null %}
                src="{{ asset('resources/dist/imgs/default_avatar.png') }}"
            {% else %}
            src="{{ vich_uploader_asset(user.avatar, 'file') | imagine_filter('profile_thumbnail') }}"
            {% endif %}
            alt="{{ user.username }}'s profile image" class="responsive-img avatar">
            <div id="upload-file-container">
                <form action="{{ path('shiawa_user_avatar_upload') }}" method="post">
                    <label for="upload-file">Modifier la photo de profil</label>
                    <input type="file" name="uploadFile" id="upload-file" accept="image/*" title="choisir une image à importer">
                </form>
            </div>
        </figure>
        <div class="card-content">
            <div class="row">
                <div class="col s3 offset-m4 offset-s8">
                    <h4 class="card-title grey-text text-darken-4">{{ user.username|title }}</h4>
                </div>
                <div class="ol s1 right-align">
                    <a href="{{ path('fos_user_profile_edit') }}" class="btn-floating waves-effect waves-light
                    pink lighten-2 right"
                       style="position: absolute; top: 180px; right: 40px; z-index: 1">
                        <i class="material-icons">
                            settings
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <main class="row">
        <aside class="col m4 s12">
            <div class="card-panel">
                <h4>A propos de moi</h4>
                <p>
                    {{ user.description ?: "Aucune description" }}
                </p>
            </div>
        </aside>

        {#<section class="col m8">#}
            {#<div class="card-panel">#}
                {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
                {#<div class="fos_user_user_show">#}
                    {#<div class="row">#}

                        {#<div class="center-align col m4">#}
                            {#<img class="responsive-img avatar" src="#}
                        {#{% if user.avatar is null %}#}
                            {#{{ asset('resources/dist/imgs/default_avatar.png') }}#}
                        {#{% else %}#}
                            {#{{ vich_uploader_asset(user.avatar, 'file') | imagine_filter('profile_thumbnail') }}#}
                        {#{% endif %}#}
                        {#" alt=""/>#}
                        {#</div>#}

                        {#<div class="col m8">#}
                            {##}
                             {#<p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>#}
                             {#<p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>#}
                            {##}
                            {#<p>Votre préférence: {% if user.preference is null %}Aucune{% else %}{{ user.preference }}{% endif %}</p>#}
                        {#</div>#}

                    {#</div>#}

                {#</div>#}
            {#</div>#}
        {#</section>#}
    </main>

    <!-- Modal Avatar -->
    <div id="modal-avatar" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Modifier votre avatar</h4>
            <p>Utiliser cet outil pour finaliser la modification de votre avatar</p>
            <div class="avatar-cropping-container">
                <img src="" alt="" id="avatar-cropping">
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>
            <a href="#!" id="crop" class=" modal-action modal-close waves-effect waves-green btn-flat pink lighten-2 white-text">Modifier</a>
        </div>
    </div>

</div>
