{% extends "ShiawaEventBundle:Event:layout.html.twig" %}

{% block body %}
    <section class="row">
    {% for event in listEvents %}

        <div class='col l4 m6 s12'>
            <div class="card-custom">
                <div class="card-image">
                    <img src="{{ event.thumbnail ? asset(event.thumbnail.getWebPath) }}">
                    <a href="{{ path('shiawa_event_view', {'slug': event.slug})}}" class="card-title">
                        {{ event.name }} - {{ event.beginAt|date('d/m/Y') }}
                    </a>
                </div>
                <div class="card-content truncate">
                    {{ event.description|raw }}
                </div>
                <div class="card-action">
                    <a href="{{ path('shiawa_event_view', {'slug': event.slug})}}" class="pink-text text-accent-1">
                        Lire : {{ event.name }}
                    </a>
                </div>
            </div>
        </div>

    {% else %}
        Pas (encore !) d'événements
    {% endfor %}
    </section>

    {% if nbPages == 1 %}
    {% else %}
        <div class="card-panel center-align">
            <ul class="pagination">
                <li class="{%  if page == 1 %}disabled{% endif %}">
                    <a href="{{ path('shiawa_event_list', {'page': page-1}) }}">
                        <i class="material-icons">chevron_left</i></a></li>
                {% for p in range(1, nbPages) %}
                    <li class="{% if p == page %}active{% else %}waves-effect{% endif %}">
                        <a href="{{ path('shiawa_event_list', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
                <li class="waves-effect {%  if page >= nbPages %}disabled{% endif %}"><a href="{{ path
                    ('shiawa_event_list', {'page': page+1}) }}"><i
                                class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}