{% extends "AppBundle:Core:nav.html.twig" %}

{% block navbar_title %}
    <a href="{{ path('shiawa_anime_homepage') }}" class="brand-logo">Administration</a>
{% endblock %}

{% block nav_content%}
    <li>
        <a href="{{ path('shiawa_admin_homepage') }}">Dashboard</a>
    </li>
{% endblock %}

{% block dropdown_title %}
    Admin
{% endblock %}

{% block nav_mobile_content %}
    <li>
        <a href="{{ path('shiawa_admin_homepage') }}">Dashboard</a>
    </li>
{% endblock %}

{% block mobile_dropdown_title %}
    Admin
{% endblock %}

{% block desktop_dropdown_content %}
    <li><a href="{{ path('shiawa_anime_homepage') }}">Shiawa Anime</a></li>
{% endblock %}

{% block mobile_dropdown_content %}
    <li><a href="{{ path('shiawa_anime_homepage') }}">Shiawa Anime</a></li>
{% endblock %}
