{{ form_start(form, {'attr': {'class': 'row'}}) }}

    {{ form_errors(form) }}


<div class="row">
    <div class="col m8">
        <div class="card-panel">
            <div class="input-field">
                {{ form_label(form.title, "Titre de l'article", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': ''}}) }}

                <div class="input-field">
                    {{ form_errors(form.anime) }}
                    {{ form_widget(form.anime, {'attr': {'class': ''}}) }}
                    {{ form_label(form.anime, "Choisir l'anime", {'label_attr': {'class': ''}}) }}
                </div>

                <div class="input-field">
                    {{ form_label(form.image, "Url pour une image", {'label_attr': {'class': ''}}) }}
                    {{ form_errors(form.image) }}
                    {{ form_widget(form.image, {'attr': {'class': ''}}) }}
                </div>

                <div class="input-field">
                    {{ form_label(form.introduction, "Introduction de la review", {'label_attr': {'class': ''}}) }}
                    {{ form_errors(form.introduction) }}
                    {{ form_widget(form.introduction, {'attr': {'class': 'materialize-textarea', 'length': 300}}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col m4">
        <div class="card-panel">

            {{ form_label(form.published, "Publier", {'label_attr': {'class': ''}}) }}
            <div class="switch">
                <label>
                    Non
                    {{ form_widget(form.published, {'attr': {'class': ''}}) }}
                    <span class="lever"></span>
                    Oui
                </label>
                {{ form_errors(form.published) }}
            </div>

            <div class="input-field">
                {{ form_label(form.createdAt, "Date", {'label_attr': {'class': ''}}) }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.createdAt, {'attr': {'class': 'datepicker'}}) }}
            </div>
        </div>

        <div class="card-panel">
            <p>
                Les tags
            </p>
            <div class="tags"></div>

            <div style="width: 1px; height: 1px; overflow: hidden;">{{ form_row(form.tags) }}</div>
        </div>

        <div class="card-panel">
            <div class="center-align">
                {{ form_widget(form.save, {'attr': {'class': 'btn-flat pink lighten-2 white-text'}}) }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col m6">
        <div class="card-panel">

            <div class="row">
                <div class="col m10">
                    {{ form_label(form.criticScenario, "Critique du scénario", {'label_attr': {'class': ''}}) }}
                    <div class="input-field">
                        {{ form_errors(form.criticScenario) }}
                        {{ form_widget(form.criticScenario, {'attr': {'class': 'wysiwyg'}}) }}
                    </div>
                </div>
                <div class="col m2">
                    <p class="range-field">
                        {{ form_label(form.noteScenario, "Note pour le scénario", {'label_attr': {'class': ''}}) }}
                        {{ form_errors(form.noteScenario) }}
                        {{ form_widget(form.noteScenario, {'attr': {'class': ''}}) }}
                    </p>
                    <blockquote>
                        Glisser le curseur pour attribuer une note.
                    </blockquote>
                </div>
            </div>

            <div class="row">
                <div class="col m10">
                    {{ form_label(form.criticGraphisms, "Critique du Graphisme", {'label_attr': {'class': ''}}) }}
                    <div class="input-field">
                        {{ form_errors(form.criticGraphisms) }}
                        {{ form_widget(form.criticGraphisms, {'attr': {'class': 'wysiwyg'}}) }}
                    </div>
                </div>
                <div class="col m2">
                    <p class="range-field">
                        {{ form_label(form.noteGraphism, "Note pour le Graphisme", {'label_attr': {'class': ''}}) }}
                        {{ form_errors(form.noteGraphism) }}
                        {{ form_widget(form.noteGraphism, {'attr': {'class': ''}}) }}
                    </p>
                    <blockquote>
                        Glisser le curseur pour attribuer une note.
                    </blockquote>
                </div>
            </div>

        </div>
    </div>

    <div class="col m6">
        <div class="card-panel">
            <div class="row">
                <div class="col m10">
                    {{ form_label(form.criticSoundtrack, "Critique de l'ambiance sonore", {'label_attr': {'class': ''}}) }}
                    <div class="input-field">
                        {{ form_errors(form.criticSoundtrack) }}
                        {{ form_widget(form.criticSoundtrack, {'attr': {'class': 'wysiwyg'}}) }}
                    </div>
                </div>
                <div class="col m2">
                    <p class="range-field">
                        {{ form_label(form.noteSoundtrack, "Note pour l'ambiance sonore", {'label_attr': {'class': ''}}) }}
                        {{ form_errors(form.noteSoundtrack) }}
                        {{ form_widget(form.noteSoundtrack, {'attr': {'class': ''}}) }}
                    </p>
                    <blockquote>
                        Glisser le curseur pour attribuer une note.
                    </blockquote>
                </div>
            </div>

            <div class="row">
                <div class="col m10">
                    {{ form_label(form.criticConsistency, "Critique de la cohérence scénaristique & personnages", {'label_attr':
                        {'class': ''}}) }}
                    <div class="input-field">
                        {{ form_errors(form.criticConsistency) }}
                        {{ form_widget(form.criticConsistency, {'attr': {'class': 'wysiwyg'}}) }}
                    </div>
                </div>
                <div class="col m2">
                    <p class="range-field">
                        {{ form_label(form.noteConsistency, "Note pour la cohérence scénaristique", {'label_attr': {'class': ''}}) }}
                        {{ form_errors(form.noteConsistency) }}
                        {{ form_widget(form.noteConsistency, {'attr': {'class': ''}}) }}
                    </p>
                    <p class="range-field">
                        {{ form_label(form.noteCharacters, "Note pour les personnages", {'label_attr': {'class': ''}}) }}
                        {{ form_errors(form.noteCharacters) }}
                        {{ form_widget(form.noteCharacters, {'attr': {'class': ''}}) }}
                    </p>
                    <blockquote>
                        Glisser le curseur pour attribuer une note.
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-panel">
    <div class="input-field">
        {{ form_label(form.conclusion, "Conclusion de la Critique", {'label_attr':
            {'class': ''}}) }}
        {{ form_errors(form.conclusion) }}
        {{ form_widget(form.conclusion, {'attr': {'class': 'materialize-textarea'}}) }}
    </div>
</div>



{{ form_rest(form) }}
{{ form_end(form) }}