{% extends "ShiawaBlogBundle:Article:layout.html.twig" %}

{% block DC_description %}
    {% for letter in article.summary|split('')|slice(0,300) %}{{ letter }}{% endfor %}
{% endblock %}

{% block desc %}
    {% for letter in article.summary|split('')|slice(0,155) %}{{ letter }}{% endfor %}
{% endblock %}

{%  block OG_desc %}
    {% for letter in article.summary|split('')|slice(0,300) %}{{ letter }}{% endfor %}
{% endblock %}

{% block DC_title %}{{ article.title }} - Shiawa.fr{% endblock %}

{%  block OG_title %}{{ article.title }} - Shiawa.fr{% endblock %}

{%  block OG_image %}{{ article.image }}{% endblock %}

{% block title %}
   {{ article.title }} - Shiawa.fr
{% endblock %}

{% block content %}
    <!-- CONTENT -->
<div class='col s12 m6 offset-m1'>
    <div class='card z-depth-1'>

        <div class='card-content'>

            <h1 class='title-section toupper'>
                {{ article.title|title }}
            </h1>

            <div class='divider'></div>

            <div class='content-article'>

                {{ article.content|raw }}

                <div class='card grey lighten-4'>
                    <div class='card-content'>
                        <p>Les mots clés de l'article</p>
                        <div class='divider'></div>
                        <br />
                        {% for tag in article.tags %}
                          <div class="chip" id="tag-{{ tag.id }}">{{ tag.name }}</div>
                        {% endfor %}
                    </div>
                </div>

            </div>

        </div>

        <div class="card-action">
            <a href="#">Publié le {{ article.createdAt|date('d/m/Y') }}</a>


            {% include "AppBundle:Rsn:fb.html.twig" %}
            <div class='clear'></div>
           {% include "ShiawaBlogBundle:Article:author_card.html.twig" %}

        </div>

    </div>

    {% if linkedContent is not empty %}
    <div class='card z-depth-1' >
        <div class='card-content' >
            <h2 class='title-section'>Nous vous conseillons aussi...</h2>

            <div class='row'>

                    {% for content in linkedContent %}
                    <div class='col m6 s12'>
                        <div class='article-pw'>
                            <h5 class='title-article'>
                                <a href='
                                {% if content.content is defined  %}
                                    {{ path('shiawa_article_view', {'slug': content.slug, 'category': content
                                    .category.slug}) }}
                                {% else %}
                                    {{ path('shiawa_anime_review_view', {'slug': content.slug}) }}
                                {% endif %}
                                '>
                                    {{ content.title }}
                                </a>
                            </h5>
                            <hr />
                            <a href='
                                {% if content.content is defined  %}
                                    {{ path('shiawa_article_view', {'slug': content.slug, 'category': content
                                .category.slug}) }}
                                {% else %}
                                    {{ path('shiawa_anime_review_view', {'slug': content.slug}) }}
                                {% endif %}
                            '>
                                <img src='{{ content.image }}' style='width:100%;background-size: cover' />
                            </a>
                        </div>
                    </div>
                    {% endfor %}

            </div>
        </div>
    </div>
    {% endif %}

    {% include "AppBundle:Core:comments.html.twig" %}
</div>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% if is_granted('ROLE_AUTHOR') %}
            <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large pink lighten-2" href="{{ path("shiawa_article_edit", {'slug': article
                    .slug}) }}">
                    <i class="large material-icons">mode_edit</i>
                </a>
            </div>
        {% endif %}
    {% endif %}

{{ parent() }}
{% endblock %}