{% extends "ShiawaBlogBundle:Article:layout.html.twig" %}

{% block title %}
   {{ char.name }} - Shiawa
{% endblock %}

{% block content %}
    <!-- CONTENT -->
    <div class='col s12 m6 offset-m1'>
        <div class='card z-depth-1'>

            <div class='card-content'>

                <div class='center'>
                    <h1 class='title-section toupper'>
                        {{ char.name }}
                    </h1>
                </div>

                <div class='row'>
                    <div class='col m4 s12 valign-wrapper'>
                        <div class='center-block'>
                            <img class='responsive-img valign' src='{{ char.avatar }}'>
                        </div>
                    </div>
                </div>

                <div class='divider'></div>

            </div>

        </div>

        <div class='card z-depth-1'>
            <div class='card-content'>
                {{ include('@App/Core/comments.html.twig') }}
            </div>
        </div>
    </div>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% if is_granted('ROLE_AUTHOR') %}
            <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large pink lighten-2" href="{{ path("shiawa_character_edit", {'slug': char
                    .slug}) }}">
                    <i class="large material-icons">mode_edit</i>
                </a>
            </div>
        {% endif %}
    {% endif %}

{{ parent() }}
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $('.car2').carousel({
                dist: - 100,
                padding: 0,
                fullWidth: true
            });
        });
    </script>
{% endblock %}